{#
/**
* @file
* Theme override for the frontpage view template.
*
* Available variables:
* - attributes: Remaining HTML attributes for the element.
* - css_name: A CSS-safe version of the view name.
* - css_class: The user-specified classes names, if any.
* - header: The optional header.
* - footer: The optional footer.
* - rows: The results of the view query, if any.
* - empty: The content to display if there are no rows.
* - pager: The optional pager next/prev links to display.
* - exposed: Exposed widget form/info to display.
* - feed_icons: Optional feed icons to display.
* - more: An optional link to the next page of results.
* - title: Title of the view, only used when displaying in the admin preview.
* - title_prefix: Additional output populated by modules, intended to be
* displayed in front of the view title.
* - title_suffix: Additional output populated by modules, intended to be
* displayed after the view title.
* - attachment_before: An optional attachment view to be displayed before the
* view content.
* - attachment_after: An optional attachment view to be displayed after the
* view content.
* - dom_id: Unique id for every view being printed to give unique class for
* Javascript.
*
* @see template_preprocess_views_view()
*
* @ingroup themeable
*/
#}

<body class="front-page">


  <!--Home-->
  <div class="home-container">
    <div class="banner-wrapper">
      <div class="banner-heading">
        <div>
          Enter your location or use GPS
        </div>
      </div>

      <div class="form-wrapper">

        <form action="/search" method="GET">

          <label for="search" class="sr-only">Search</label>

          <input type="search" id="search" name="q" placeholder="Search..."
            class="flex-grow px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring-2 focus:ring-[var(--accent-green)]"
            required />

          <button type="submit"
            class="px-4 py-2 bg-[var(--accent-green)] text-white rounded-r-md hover:bg-[var(--accent-green-hover)] focus:outline-none focus:ring-2 focus:ring-[var(--accent-green)]">
            Search
          </button>

        </form>

      </div>

    </div>

    <!--Listing-->
    <div class="section-card">

      <div class="section-heading">
        <div>
          Recommended Meals
        </div>
      </div>

      <article class="card-wrapper">
        <div class="distance-rating-container">

          <div class="distance">
            <div>
              45km
            </div>
          </div>

          <div class="separator">
            |
          </div>

          <div class="rating-continer">
            <div class="star-img">
              <img src="{{ directory }}/images/star.png" alt="">
            </div>
            <div class="rating">
              <div>
                4.7
              </div>
            </div>
          </div>
        </div>


        <div class="card-info">

          <div class="card-info__image">
            <div>
              <img src="{{ directory }}/images/rolls.jpg" alt="place holder image">
            </div>
          </div>

          <div class="card-info__text-details">

            <div class="card-info__name">
              <div>
                Meal A
              </div>
            </div>

            <div class="card-info__price-section">

              <div class="card-info__price-block">
                <div class="card-info__discounted-price">
                  <div>
                    R30
                  </div>
                </div>

                <div class="card-info__original-price">
                  <div>
                    R237
                  </div>
                </div>
              </div>

              <div class="card-info__view-link">
                <div>
                  <a href="">View -></a>
                </div>
              </div>

            </div>

            <div class="card-info__pickup-info">
              Pickup<span class="ml-1">5-6PM</span>
            </div>
          </div>
        </div>

        <div class="reserve-buttons">
          <div class="buttons reserve-buttons__favourites">
            <div>
              <a href="">
                <svg id="Layer_1_1_" style="enable-background:new 0 0 16 16;" version="1.1" viewBox="0 0 16 16"
                  xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path
                    d="M8.612,2.347L8,2.997l-0.612-0.65c-1.69-1.795-4.43-1.795-6.12,0c-1.69,1.795-1.69,4.706,0,6.502l0.612,0.65L8,16  l6.12-6.502l0.612-0.65c1.69-1.795,1.69-4.706,0-6.502C13.042,0.551,10.302,0.551,8.612,2.347z" />
                </svg>
              </a>
            </div>
          </div>

          <div class="buttons reserve-buttons__reserve">
            <div>
              <a href="">Reserve Now</a>
            </div>
          </div>
        </div>
      </article>

    </div>
  </div>

</body>