:root {

    --background-color: #DDEEE6;
    --accent-green: #27AE60;
    --accent-green-hover: #1a723e;
    --heading-txt-color: #1B5E20;
    --off-white-bg: #FAFAFA;
    --ratings-label-text-color: #4F4F4F;
    --separator-txt-color: #B0B0B0;
    --half-black: rgba(0, 0, 0, 0.50);
    --pick-up-text-color: #6D6D6D;

}

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {


    html,
    body {
        background-image: none !important;
        background-color: var(--background-color);
        padding: 0%;
        width: 100%;
        box-sizing: border-box;

    }




    .main-content__container.container,
    .main-content {
        @apply m-0 p-0 w-full h-[100%];
    }


    .home-container {
        @apply w-full h-full bg-[var(--off-white-bg)];
    }

    .form-wrapper {
        @apply pt-6;
    }


    .form-wrapper form {
        @apply flex items-center max-w-md mx-auto;
    }

    .banner-wrapper {
        @apply flex justify-center items-center pl-2 pr-2 pt-6 pb-6 flex-col;
    }

    .banner-heading {
        @apply text-xl;
    }

    .section-card {
        @apply py-6 px-4 bg-[var(--background-color)];
    }

    .section-heading {
        @apply text-2xl font-bold text-[var(--heading-txt-color)];
    }

    .card-wrapper {
        @apply bg-[var(--off-white-bg)] w-full py-2 px-3 rounded-lg mt-6;
    }

    .distance-rating-container {
        @apply flex flex-row items-center gap-4 justify-end pr-2;
    }

    .rating-continer {
        @apply flex flex-row items-center gap-1;
    }

    .distance,
    .rating,
    .separator {
        @apply text-base text-[var(--ratings-label-text-color)] font-normal;
    }

    .distance-rating-container .separator {
        @apply text-[var(--separator-txt-color)];
    }

    .card-info {
        @apply flex flex-row items-start w-full gap-3 mt-3 mb-3;
    }

    .card-info__price-section {
        @apply flex justify-between items-center w-full;
    }

    .card-info__price-block {
        @apply flex flex-row justify-start gap-2 w-full;
    }

    .card-info__text-details {
        @apply w-full;
    }

    .card-info__view-link {
        @apply w-full flex justify-end pr-1 text-base font-normal text-[--half-black];

    }


    .card-info__image {
        @apply w-[220px] h-[120px] bg-[var(--accent-green)] rounded-xl overflow-hidden;
    }

    .card-info__image div {
        @apply flex justify-center items-center w-full h-full;
    }

    .card-info__image img {
        @apply object-cover w-full h-full;
    }

    .card-info__name {
        @apply text-2xl text-[#212121] font-medium;
    }

    .card-info__discounted-price {
        @apply text-lg font-bold text-[var(--heading-txt-color)];
    }

    .card-info__original-price {
        @apply text-xs font-bold line-through text-[--half-black] leading-normal flex items-center;
    }

    .card-info__pickup-info {
        @apply text-sm font-medium text-[var(--pick-up-text-color)];
    }

    .reserve-buttons {
        @apply flex flex-row justify-between gap-2;
    }

    .buttons {
        @apply w-full flex items-center justify-center h-full box-border text-base font-normal my-4;
    }

    .buttons div {
        @apply w-full h-full flex items-center justify-center;
    }

    .reserve-buttons__reserve a {
        @apply w-full bg-[var(--accent-green)] border-2 border-transparent text-white;

    }

    .reserve-buttons__favourites a {
        @apply w-full border-solid border-[var(--accent-green)] border-2;
    }

    .reserve-buttons__reserve a,
    .reserve-buttons__favourites a {
        @apply flex items-center justify-center text-center py-2 px-4 rounded h-12 box-border transition duration-300 ease-in-out;
    }

    .reserve-buttons__favourites svg {
        @apply w-6 fill-[var(--accent-green)];
    }

    .reserve-buttons__favourites a:hover svg {
        @apply w-6 fill-white;
    }

    .reserve-buttons__favourites a:hover {
        @apply bg-[var(--accent-green)];
    }

    .reserve-buttons__reserve a:hover {
        @apply bg-white text-[var(--accent-green)] border-[var(--accent-green)];
    }




}