:root {

    --background-color: #DDEEE6;
    --accent-green: #27AE60;
    --accent-green-hover: #1a723e;
    --heading-txt-color: #1B5E20;
    --off-white-bg: #FAFAFA;
    --ratings-label-text-color: #4F4F4F;
    --separator-txt-color: #B0B0B0;
    --half-black: rgba(0, 0, 0, 0.50);
    --pick-up-text-color: #6D6D6D;
    --more-items-left-color: #FFF3C1;
    --logo-size: 4rem;

}

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {



    html,
    body {
        background-image: none !important;
        background-color: var(--background-color);
        padding: 0%;
        width: 100%;
        box-sizing: border-box;

    }

    /*~~~~~~~~~~Order-Page css starts here~~~~~~~~~~~~*/

    .order {
        @apply px-3 pt-10 w-full h-full flex items-center justify-center bg-[var(--background-color)];
    }

    .order__container {
        @apply w-full h-full bg-[var(--off-white-bg)] px-6 pt-10 pb-5 rounded-lg shadow-custom-black;
    }

    .order__original-price,
    .order__discount-price {

        @apply py-2 items-end flex justify-between flex-row border-b border-b-[var(--background-color)];
    }

    .order__original-price>div:first-child {
        @apply w-fit text-base leading-normal font-normal text-[--half-black];

    }

    .order__original-price>div:last-child {
        @apply w-fit text-base leading-normal font-bold text-[--half-black] line-through;

    }

    .order__discount-price>div:first-child {
        @apply w-fit text-xl font-normal leading-normal text-[var(--heading-txt-color)] flex justify-start items-end;
    }

    .order__discount-price>div:last-child {
        @apply w-fit text-2xl font-bold leading-normal text-[var(--heading-txt-color)] flex items-end;
    }

    .terms-conditions {
        @apply flex justify-center text-[--half-black] text-[13px] font-normal leading-normal pt-10 pb-5;
    }

    .terms-conditions a {
        @apply not-italic underline underline-offset-auto;
    }

    .pin-container {
        @apply w-full flex justify-center items-center flex-col my-20;
    }

    .pin-container>div:first-child {
        @apply text-[--half-black] font-normal text-[13px];
    }

    .pin-container>div:last-child {
        @apply text-[var(--heading-txt-color)] border-b border-b-[var(--half-black)] font-extrabold text-5xl;
    }

    /*~~~~~~~~~~Order-Page css ends here~~~~~~~~~~~~*/




    /*~~~~~~~~~~Meal-Deal-Page css starts here~~~~~~~~~~~~*/
    .meal-deal-container .qs__container {
        @apply -top-4;
    }

    .ratings__logo {
        @apply w-32 flex justify-center items-center border-solid border-r-4 pr-2 border-[var(--separator-txt-color)];
    }

    .ratings__logo img {
        @apply object-cover;
    }

    .ratings__logo>div:nth-child(1) {
        @apply w-20;
    }

    .ratings__logo>div:nth-child(2) {
        @apply text-[40px] font-normal leading-normal text-[var(--ratings-label-text-color)];
    }

    .ratings-container {
        @apply flex gap-3 mt-10 justify-center items-center;
    }

    .rate-container {
        @apply flex w-full justify-between;
    }

    .rate-container>div:last-child {
        @apply text-xl font-medium leading-normal text-[var(--pick-up-text-color)] flex justify-center items-center p-1;
    }

    .rate-type {
        @apply w-full text-base font-medium leading-normal text-[var(--pick-up-text-color)];
    }

    .rate-type>div:last-child {
        @apply
        /*w-[50%]*/
        h-[10px] bg-[var(--background-color)] mt-2 rounded-md;
    }

    .rates-wrapper {
        @apply mt-10 px-3 flex flex-col gap-6;
    }


    .store__logo {
        @apply w-20 h-20 rounded-full overflow-hidden;
    }

    .store__logo div,
    .ratings__logo div {
        @apply w-full h-full flex items-center justify-center;
    }

    .store__logo img {
        @apply w-full h-full object-cover;
    }

    .store {
        @apply flex gap-3 mt-10;
    }

    .store__data {
        @apply text-2xl font-bold leading-normal text-black;
    }

    .ratings__data {
        @apply text-base font-normal leading-normal text-[var(--ratings-label-text-color)];
    }

    .vendor-info__title {
        @apply text-2xl font-bold leading-normal text-[var(--heading-txt-color)];
    }

    .meal-deal-container {
        @apply w-full flex flex-col justify-center bg-[var(--background-color)] px-3 pt-20;
    }

    .vendor-info {
        @apply px-3 pt-14 pb-40;
    }

    .full-image {
        @apply w-full rounded-2xl overflow-hidden;
    }


    .full-image-wrapper {
        @apply w-full h-full;
    }


    .distance-rating-wrapper {
        @apply flex justify-end items-start;
    }

    .distance-rating-wrapper .distance-rating-container {
        @apply bg-white absolute;
    }


    .product {
        @apply mt-10 ml-3;
    }

    .product__title,
    .page__title {
        @apply font-medium leading-normal text-[27px] text-[#212121];
    }

    .product .card-info__discounted-price {
        @apply text-2xl leading-normal font-bold;
    }


    .product .card-info__original-price {
        @apply text-[15px];
    }

    .product .card-info__pickup-info {
        @apply text-base;
    }

    .product__desc,
    .order__details {
        @apply text-xl font-normal leading-normal text-[#656565] my-4;
    }

    .order__details span {
        @apply font-semibold;
    }

    .warning-txt {
        @apply w-full flex justify-center items-center text-[15px] font-normal leading-normal opacity-50 my-4;
    }

    /*~~~~~~~~~~Meal-Deal-Page css ends here~~~~~~~~~~~~*/



    .main-content__container.container,
    .main-content {
        @apply m-0 p-0 w-full h-[100%];
    }


    .home-container {
        @apply w-full h-full bg-[var(--off-white-bg)];
    }

    .form-wrapper {
        @apply pt-6;
    }


    .form-wrapper form {
        @apply flex items-center max-w-md mx-auto;
    }

    .banner-wrapper {
        @apply flex justify-center items-center pl-2 pr-2 pt-6 pb-6 flex-col;
    }

    .banner-heading {
        @apply text-xl;
    }

    .section-card {
        @apply py-6 px-4 bg-[var(--background-color)];
    }

    .section-heading {
        @apply text-2xl font-bold text-[var(--heading-txt-color)];
    }

    .card-wrapper {
        @apply bg-[var(--off-white-bg)] w-full py-2 px-3 rounded-lg mt-24 shadow-custom-black;
    }

    .distance-rating-container {
        @apply flex flex-row items-center gap-4 justify-end pr-2;
    }

    .rating-continer {
        @apply flex flex-row items-center gap-1;
    }

    .distance,
    .rating,
    .separator {
        @apply text-base text-[var(--ratings-label-text-color)] font-normal;
    }

    .distance-rating-container .separator {
        @apply text-[var(--separator-txt-color)];
    }

    .card-info {
        @apply flex flex-row items-start w-full gap-3 mt-3 mb-3;
    }

    .card-info__price-section {
        @apply flex justify-between items-center w-full;
    }

    .card-info__price-block {
        @apply flex flex-row justify-start gap-2 w-full;
    }

    .card-info__text-details {
        @apply w-full;
    }

    .card-info__view-link {
        @apply w-full flex justify-end pr-1 text-base font-normal text-[--half-black];

    }


    .card-info__image {
        @apply w-[220px] h-[120px] bg-[var(--accent-green)] rounded-xl overflow-hidden;
    }

    .card-info__image div {
        @apply flex justify-center items-center w-full h-full;
    }

    .card-info__image img {
        @apply object-cover w-full h-full;
    }

    .card-info__name {
        @apply text-2xl text-[#212121] font-medium;
    }

    .card-info__discounted-price {
        @apply text-lg font-bold text-[var(--heading-txt-color)];
    }

    .card-info__original-price {
        @apply text-xs font-bold line-through text-[--half-black] leading-normal flex items-center;
    }

    .card-info__pickup-info {
        @apply text-sm font-medium text-[var(--pick-up-text-color)];
    }

    .reserve-buttons {
        @apply flex flex-row justify-between gap-2 pb-4;
    }

    .buttons {
        @apply w-full flex items-center justify-center h-full box-border text-base font-normal my-4 bg-white;
    }

    .buttons div {
        @apply w-full h-full flex items-center justify-center;
    }

    .reserve-buttons__reserve a {
        @apply w-full bg-[var(--accent-green)] border-2 border-transparent text-white;

    }

    .reserve-buttons__favourites a:hover {
        @apply text-white;
    }

    .reserve-buttons__favourites a {
        @apply w-full text-[var(--accent-green)] border-solid border-[var(--accent-green)] border-2;
    }

    .reserve-buttons__reserve a,
    .reserve-buttons__favourites a {
        @apply flex items-center justify-center text-center py-2 px-4 rounded h-12 box-border transition duration-300 ease-in-out;
    }

    .reserve-buttons__favourites svg {
        @apply w-6 fill-[var(--accent-green)];
    }

    .reserve-buttons__favourites a:hover svg {
        @apply w-6 fill-white;
    }

    .reserve-buttons__favourites a:hover {
        @apply bg-[var(--accent-green)];
    }

    .reserve-buttons__reserve a:hover {
        @apply bg-white text-[var(--accent-green)] border-[var(--accent-green)];
    }

    .qs {
        @apply flex justify-center w-full relative;
    }

    .qs__container {
        @apply absolute -top-2 w-fit;
    }

    .qs__container>div {
        @apply relative w-fit;
    }

    .qs__container>div>div:last-child {
        @apply bg-[var(--more-items-left-color)] py-1 px-2 text-base font-normal text-[var(--heading-txt-color)];
    }


    .l-half-shadow {
        @apply absolute bottom-0 left-0 h-1/2 w-full shadow-custom-black pointer-events-none;
    }

    .logo__shadow {
        @apply w-[var(--logo-size)] h-[var(--logo-size)] flex justify-center items-center overflow-hidden shadow-custom-black rounded-full;
    }

    .logo__shadow img {
        @apply w-full h-full object-cover;
    }

    .logo__rect {
        @apply w-[var(--logo-size)] flex justify-center;
    }

    .logo__rect div {
        @apply w-4 h-4 bg-[var(--off-white-bg)];
    }

    .logo__comp {
        @apply flex justify-center w-fit flex-col absolute -top-[5.5rem];
    }

    .logo {
        @apply relative h-0;
    }


}